body {
  margin: 2em;
}

h1 {
  font-size: 3em;
}

h3 {
  font-size: 1.5em;
}

.container-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(100, 100, 100);
}

input {
  margin-top: 1em;
  width: 20em;
  height: 2em;
  border-radius: 0.5em;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
